* {
   margin: 0;
   padding: 0;
   border-radius: 25px;
   box-sizing: border-box;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p{
   color: #333;
}
.experience h4{
   color: rgba(3,169,244,1);
   font-style: italic;
}
body {
   background: lightblue;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;

}

.container {
   position: relative;
   width: 100%;
   max-width: 1000px;
   min-height: 1000px;
   background: #fff;
   margin: 50px;
   display: grid;
   grid-template-columns: 1fr 2fr;
   box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1)
}

.container .left-side {
   position: relative;
   background: #003147;
   padding: 40px;
}

.profileText {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 20px;
   border-bottom: 1px solid rgb(255 255 255 / 66%);

}

.profileText .imgBx {
   position: relative;
   width: 200px;
   height: 200px;
   border: 5px solid #fff;
   border-radius: 100px;
   overflow: hidden;
}

.profileText .imgBx img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.profileText h2 {
   color: #fff;
   font-size: 1.5em;
   margin-top: 20px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 600;
   line-height: 1.4em;
   
}
.profileText h3{
   color: #fff;
   text-align: center;
   
}

.profileText h2  span {
   font-size: 0.8em;
   font-weight: 300;
}

.contactInfo {
   padding-top: 40px;
}
.contactInfo a{
   color: #fff;
}

.title {
   color: #fff;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 1px;
   margin-bottom: 20px;
   position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 1px solid rgb(255 255 255 / 66%);
}

.contactInfo ul {
   position: relative;
}

.contactInfo ul li {
   color: #fff;
   position: relative;
   list-style: none;
   margin: 10px 0;
}

.contactInfo ul li .icon {
   display: inline-block;
   width: 30px;
   font-size: 18px;
   color: #03a9f4;
   animation: pulse 3s infinite;
}

@keyframes pulse {
    0%{
      transform:scale(100%)
   }
   50%{
      transform: scale(75%);
   }
   
}
.contactInfo ul li span {
   color: #fff;
   font-weight: 300;

}

.contactInfo .education li {
   margin-bottom: 15px;
}

.contactInfo .education h5 {
   color: #03a9f4;
   font-weight: 500;
}

.contactInfo .education h4 :nth-child(2) {
   color: #fff;
   font-weight: 500;
}

.contactInfo .education h4 {
   color: #fff;
   font-weight: 500;
}




.container .right-side {
   position: relative;
   background: #fff;
   padding: 40px;
}

.about {
   margin-bottom: 50px;
}
.right-side h2{
 font-weight: 600;
 font-size: 1.5em;
 margin-bottom: 10px;
 margin-top: 10px;
 margin-left: 10px;
 
}

.about:last-child {
   margin-bottom: 0;
}

.about {

   letter-spacing: 1px;
   margin-bottom: 10px;
}



.about .box {
   display: flex;
   flex-direction: row;
   margin: 20px 0;
}

.about .box .year-company {
   min-width: 150px;
}

.about .box .year-company h5 {
   text-transform: uppercase;
   color: #848c90;
   font-weight: 600;
}

.about .box .text h4 {
   text-transform: uppercase;
   color: #2a7da2;
   font-size: 16px;
}

.skills .box {
   position: relative;
   width: 100%;
   display: grid;
   grid-template-columns: 150px 1fr;
   justify-content: center;
   align-items: center;
}

.skills .box h4 {
   text-transform: uppercase;
   color: #03a9f4;
   font-weight: 500;
}
.skills ul {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.skills ul li {
   color: white;
   font-weight: 500;
   margin: 10px 0;
}

.about ul {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 50px;
}

.about ul li {
   list-style: none;
   color: #333;
   font-weight: 500;
   margin: 10px 0;
}

.about ul li .fa {
   color: #03a9f4;
   font-size: 18px;
   width: 20px;
}
.titre-Ada{
   color: #03a9f4;
}

.anim{
   color: #ff00ff;
      font-weight: bold;
      animation: glow 1s ease-in-out infinite alternate;
}

 @keyframes glow {
    0% {
       text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff;
    }

    100% {
       text-shadow: 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
    }
 }

 
@media (max-width:1000px) {
   .container {
      margin: 10px;
      grid-template-columns: repeat(1, 1fr);
   }

   .about ul {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width:600px) {
   .about .box {
      flex-direction: column;
   }

   .about .box .year-company {
      margin-bottom: 5px;
   }

   .about ul {
      grid-template-columns: repeat(1, 1fr);
   }

   .skills .box {
      grid-template-columns: repeat(2, 1fr);
   }
}
